.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0a1a2a;
}

.logo {
  width: 9rem;
  height: 8rem;
}

.menuContainer {
  position: absolute;
  display: none;
  width: 300vw;
  height: 100vh;
  top: 4rem;
  bottom: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.hamburguesa {
  width: 24px;
  height: 24px;
  color: #333;
}

.--active {
    left: 0;
}