body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0a141d;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}

.logo {
  max-width: 5rem;
  
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #ececec;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}
/* formulario de contacto */

#formulario {
  display: flex;
  margin: 5%;
  align-items: center;
  flex-direction: column;
}

#contactoBody {
  background-color: #2e58364f;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%; /* Ancho completo de los campos */
  padding: 10px; /* Espacio interno dentro de los campos */
  margin-bottom: 15px; /* Espacio entre campos */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Esquinas redondeadas */
}

h1 {
  text-align: center;
  background-color: #177217;
}

.checkDesplegable {
  display: flex ;
  justify-content: space-around;
  margin: 3%;
  flex-wrap: wrap;
}

label {
  display: block; /* Mostrar las etiquetas en una nueva línea */
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo */
  font-weight: bold; /* Texto en negrita para las etiquetas */
  text-align: center;
}

/* Estilos para el botón de envío */
button[type="submit"] {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Espacio interno del botón */
  border: none; /* Eliminar el borde por defecto */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Indicador de cursor en forma de mano */
}

/* Estilos específicos para smartphones */
@media (max-width: 480px) {
  /* Ajustar el tamaño de fuente para pantallas pequeñas */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }

  /* Ajustar el tamaño de los botones para pantallas pequeñas */
  button[type="submit"] {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 8px 15px; /* Espacio interno más pequeño */
  }
}
/* Formulario de contacto fin */

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.5rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: #ececec;
  }

  .cerrar-menu {
      color: #ececec;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
      z-index: 1;
      width: 100%;
      opacity: 0.99;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #ecececec;
  }
}